@import "../../assets/style/helper.scss";
@import "../../assets/style/mixin.scss";
@import "../../assets/style/reset.scss";
@import "../../assets/style/font.scss";
@import "../../assets/style/variable.scss";
.PricingContent {
  padding: 84px 0;
  @include d-flex(center, center, 16px, column);

  .PricingHeader {
    padding-bottom: 55px;
    width: 78%;

    @include d-flex(center, center, 16px, column);

    h5 {
      color: $second-textColor;
      text-align: center;

      font-family: Encode Sans;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.1px;
    }
    h2 {
      color: $text-color;
      text-align: center;

      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
    }
    .Link {
      @include d-flex(center, center, 16px);
      a {
        color: $text-color;
        text-align: center;

        font-family: Encode Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
      }
    }
  }
  .priceMeet {
    padding: 30px 0;
    @include d-grid(1fr, 30px);
    h2 {
      color: $text-color;
      text-align: center;

      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
    }
    .meetTeam {
      padding-top: 45px;
      @include d-grid(1fr, 30px);
    }
  }
  .tryNow {
    @include d-flex(center, center, 30px, column);
    width: 80%;
    padding: 112px 0;
    h2 {
      color: $text-color;
      text-align: center;

      font-family: Encode Sans;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 52px;
      letter-spacing: 0.2px;
    }
    h6 {
      color: $second-textColor;
      text-align: center;

      font-family: Encode Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
      letter-spacing: 0.2px;
    }
    button {
      @include d-flex(center, center, 10px, column);
      color: $white;
      text-align: center;
      padding: 15px 40px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
      border-radius: 5px;
      background: $primary-color;
      border: 1px solid $primary-color;
    }
    .img {
      @include d-flex(center, center, 34px, row);
    }
  }
  @media screen and (min-width: $desktop) {
    width: 80%;
    .Images {
      width: 80%;
      @include d-grid(1fr 1fr 1fr 1fr 1fr,0px);

      img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
      }
      img:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      img:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
      }
      img:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      img:nth-child(5) {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
    .priceMeet {
      @include d-grid(1fr, 112px);

      .meetTeam {
        @include d-grid(1fr 1fr 1fr, 30px);
      }
    }
  }
}
