$text-color:hsl(228, 28%, 20%);
$second-textColor: #737373;
$primary-color: #23A6F0;
$faded-secondary-color-2:#FFDCD1;
$white:#FFF;
$inputColor:#F9F9F9;
$footerColor:#FAFAFA;
$muted-color:#BDBDBD;
$secondary-color-1:#23856D;
$success-text-color: #2DC071;
$disabled-element-color:#8EC2F2;
$light-text-gray-1: #FAFAFA;
 $dark-background-color: #252B42;
$danger-color: #E74040;
$light-gray-2: #ECECEC;
$hover-color : #2A7CC7;
 $desktop:1040px;