@import "../../../../assets/style/mixin.scss";
@import "../../../../assets/style/reset.scss";
@import "../../../../assets/style/font.scss";
@import "../../../../assets/style/variable.scss";

.cards {
  @include d-flex(center, center, 15px, column);

  img {
    width: 72px;
    height: 72px;
  }

  h6 {
    color: $text-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  h5 {
    color: $text-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  button {
    @include d-flex(center, center, 10px, column);
    color: $primary-color;
    text-align: center;
    border: 1px solid $primary-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
